@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', 'Noto sans', sans-serif;
}

body {
  background-color: #f5f7fa; /* Màu nền nhạt pastel xanh xám */
  color: #333; /* Màu chữ đậm để tạo sự tương phản và dễ đọc */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
